{% extends 'layout.html' %}

{% block title %}{{title}}{% endblock %}



{% block content %}

    
    {% if articulos %}
       {% for articulo in articulos %} 
          <h1>Editar articulo: {{articulo.1}} {{articulo.2}}</h1>
       {% endfor %}    
    {% else %}
       <h1>{{title}}</h1> 
    {% endif %}
    
    <form action="" method="POST">
        <label for="marca">Marca</label>
        <input type="text" name="marca" placeholder="marca" maxlenght=50 {% if articulos %} {% for articulo in articulos %} value="{{articulo.1}}" {% endfor %} {% endif %}/>

        <label for="modelo">Modelo</label>
        <input type="text" name="modelo" placeholder="modelo" maxlenght=50 {% if articulos %} {% for articulo in articulos %} value="{{articulo.2}}" {% endfor %} {% endif %} />

        <label for="precio">Precio</label>
        <input type="number" name="precio" placeholder=0.00 {% if articulos %} {% for articulo in articulos %} value="{{articulo.3}}" {% endfor %} {% endif %} />

        <input type="submit" value="Guardar" />

    </form>
    
    
{% endblock %}
